{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set file = object.value %}
    {% if file is not null %}
        <a href="{{ file|generateURL }}" target="_blank">
            {% if file|isImage %}
                <img width="100px" src="{{ file|generateURL }}" />
            {% else %}
                {{ object.value }}
            {% endif %}
        </a>
    {% endif %}
{% endblock %}
