{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block no_result_content %}
     <div class="info-box">
         <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
         <div class="info-box-content">
             <span class="info-box-text">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</span>
         </div><!-- /.info-box-content -->
     </div>
 {% endblock %}
